---
---

<header class="site-header">
    <nav class="main-nav">
      <ul>
        <li><a href="/projects">PROJECTS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="https://twitter.com/SKMchiiiii_201" target="_blank" rel="noopener">SNS</a></li>
        <!-- 必要に応じて Instagram, X(Twitter), etc. -->
      </ul>
    </nav>
  </header>
